*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}
body{
    font-family: '나눔바른고딕';
    font-size: 12px;
    line-height: 22px;
    color: #000;
}

/*top*/
#top{
    background-color: #000;
}
.top_inner{
    width: 1000px;
    margin: auto;
    text-align: right;
}
.top_inner a{
    color: #fff;
    display: inline-block;
    padding: 5px 0 5px 10px;
}
.top_inner a:hover{
    text-decoration: underline;
    color: #ccc;
}

/*header*/
#header{
    border-bottom: 3px solid red;
    position: relative;/*서브메뉴 기준*/
}
.header_inner{
    width: 1000px;
    height: 87px;
    margin: auto;
}
.logo{
    float: left;
    display: block;
    padding: 20px 0;
}
.nav{
    float: right;
}
.nav> li{
    float: left;
    padding: 32px 30px;/*링크는 안걸림*/
}
.nav> li> a{
    font-size: 20px;
    font-weight: bold;
}
.nav> li> a:hover{
    color: red;
}
/*서브메뉴 꾸미기*/
.sub{
    background-color: #f2f2f2;
    border-bottom: 2px solid red;
    position: absolute;
    width: 100%;
    left: 0;
    top: 87px;
    padding: 20px 0;
    display: none;/*서브메뉴 안보이게 만들기*/
}
.sub div{
    width: 1000px;
    margin: auto;
}
.sub div a{
    display: inline-block;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
    font-weight: bold;
    padding-left: 20px;
    color: #666;
}
.width1 div a{
    width: 25%;
}
.width2 div a{
    width: 20%;
}
.sub div a:hover{
    color: red;
}
/*서브메뉴 보이게 만들기*/
.nav li:hover .sub{
    display: block;
}

/*all*/
#all{
    width: 1000px;
    height: 650px;
    margin: 50px auto;
}

/*왼쪽 메뉴*/
.left{
    float: left;
    width: 200px;
}
h2{
    font-size: 25px;
    padding-bottom: 20px;
}
.left ul{
    border-top: 3px solid red;
}
.left a{
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    font-size: 14px;
}
.left a.red{
    color: red;
    font-weight: bold;
    background: url(./images/menu_on.png) no-repeat right center;
}
.left a:hover{
    color: red;
    font-weight: bold;
    background: url(./images/menu_on.png) no-repeat right center;
}

/*오른쪽 박스*/
.right{
    float: right;
    width: 750px;
    background: url(./images/bg_meat.gif) no-repeat right top;
}
h1{
    font-size: 40px;
    padding-bottom: 20px;
}
.gray{
    color: #999;
    font-size: 14px;
    padding-bottom: 50px;
}
h3{
    color: red;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 30px;
}
.redbox{
    background-color: red;
    width: 250px;   
    height: 260px;
    float: left;
    padding: 30px;
    box-sizing: border-box;
}
.meat{
    float: right;
    display: block;
}
.graybox{
    clear: both;/*float 초기화*/
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 30px;
}
h4{
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
}

/*footer1*/
#footer1{
    border-top: 1px solid #ccc;   
    border-bottom: 1px solid #ccc;   
}
.footer_inner{
    width: 1000px;
    margin: auto;
}
.footer_inner a{
    display: inline-block;
    padding: 10px 20px 10px 0;
}
.footer_inner a:hover{
    color: red;
}

/*footer2*/
#footer2{
   width: 1000px; 
   height: 66px;
   margin: auto;
   padding: 30px 0;
}
#footer2 p{
    float: left;
}
span{
    color: red;
}
#footer2 a{
    float: right;
}